

assemblyai==0.37.0

cohere==5.13.12


huggingface-hub==0.28.1

jsonschema==4.23.0
jsonschema-specifications==2024.10.1


python-dotenv==1.0.1

streamlit==1.42.0

textblob==0.19.0

transformers==4.48.3



typing_extensions==4.12.2

uvicorn==0.30.6

watchdog==6.0.0
watchfiles==0.24.0


textblob
